.split {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}


.split > * {
    display: block;
    width: 100%;
}

.split > *:last-child {
    padding: .5rem 1rem;
    background-color: var(--white-200);
}

@media (min-width: 45rem) {
    .split > * {
        width: calc(50% - .5rem);
    }
}
