.banner {
    position: absolute;
    z-index: -2;
    top: 50%;
    left: -10rem;
    width: calc(100vw + 20rem);
    height: calc(100% - 7rem);
    min-height: 15rem;
    transform: rotate(2deg) translateY(-50%);
    background: var(--white-300);
}
