.footer {
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.footer__main {
    position: relative;
    padding: 21rem 0 7rem;
}

.footer__main__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

.footer__main__content > *:first-child {
    width: 100%;
    max-width: 35rem;
    margin-bottom: 2rem;
}

.footer__main__content > *:last-child {
    width: 100%;
    max-width: 20rem;
}

.footer__subscribe__title *,
.footer__subscribe__text * {
    font-weight: 600;
    display: block;
}

.footer__subscribe__title * {
    font-size: 1.8rem;
    margin-bottom: -.7rem;
    color: var(--blue-500);
}

.footer__subscribe__text * {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.footer__payments {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
