.banner {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: url("/media/images/heading_banner.jpg") /* image */ center 65% / cover /* position / size */ no-repeat /* repeat */ fixed /* attachment */ padding-box /* origin */ content-box /* clip */ var(--black-900); /* color */
}

@media (min-width: 60rem) {
    .banner::before {
        position: absolute;
        z-index: 1;
        bottom: calc(-.8rem - 1.1vw);
        left: 0;
        width: 50vw;
        height: calc(2rem + 1vw);
        content: "";
        transform: rotate(-2deg);
        background: var(--white-100);
    }
}

.banner::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    content: "";
    opacity: 0.98;
    background: var(--black-900);
}
