.banner {
    position: absolute;
    z-index: -1;
    top: -5vw;
    left: -5vw;
    overflow: hidden;
    width: 110vw;
    height: 100%;
    min-height: 15rem;
    transform: rotate(-2deg);
    background: url("/media/images/heading_banner.jpg") /* image */ center 65% / cover /* position / size */ no-repeat /* repeat */ fixed /* attachment */ padding-box /* origin */ content-box /* clip */ var(--black-900); /* color */
}

@media (min-width: 60rem) {
    .banner {
        height: 22vw;
    }
}

.banner::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 110vw;
    height: 100%;
    min-height: 15rem;
    content: "";
    opacity: 0.98;
    background: var(--black-900);
}

@media (min-width: 60rem) {
    .banner::after {
        height: 22vw;
    }

    .banner__text::after {
        font-size: 21rem;
        position: relative;
        bottom: -3rem;
        left: 50%;
        content: "3D";
        opacity: .5;
        color: var(--black-700);
    }
}

@media (min-width: 60rem) {
    .banner__text::after {
        font-size: 35vw;
    }
}
