.header {
    background: transparent;
    position: relative;
    overflow: hidden;
    color: white;
    min-height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

@media (min-width: 60rem) {
    .header {
        height: 22vw;
    }
}

.search {
    transform: translateY(-.8rem);
    width: 100%;
    height: 8rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 60rem) {
    .search {
        left: 40%;
        max-width: 22rem;
    }
}
