.navigation {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navigation__home {
    font-size: 2.2rem;
    font-weight: 700;
}

.navigation__sub-navigation {
    font-size: 1.08rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
}
