.link.hover {
    transition: background .5s ease-in-out;
    background-image: linear-gradient(to right, rgba(0, 96, 247, 0.4) 0, rgba(0, 96, 247, 0.4) 100%);
    background-repeat: no-repeat;
    background-position: 0 80%;
    background-size: 0 30%;
}

.link.link__icon.hover {
    background-position: 2rem 100%;
}

.link.hover:hover:not(:active, :focus) {
    background-size: 100% 30%;
}

.link:active,
.link.focus {
    color: var(--black-900);
}

.link.link__icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    gap: .5rem;
}

.link__icon__image {
    width: 1.5rem;
    height: 1.5rem;
}

.link__no-text {
    font-size: 0;
}
