.navigation {
    position: relative;
    background: var(--blue-500);
}

@media (min-width: 60rem) {
    .navigation {
        left: 40%;
        width: 70%;
    }
}

.navigation .navigation__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 85%;
    gap: 1rem;
}

@media (min-width: 60rem) {
    .navigation .navigation__container {
        margin-left: 0;
    }
}

.navigation__container * {
    padding: 1.2rem .3rem;
}

/* @media (min-width: 60rem) { */
/*     .navigation__container * { */
/*         padding: 1.4vw .5vw; */
/*     } */
/* } */
