.button {
    font-weight: normal;
    position: relative;
    overflow: hidden;
    padding: .8rem .6rem;
    transition: transform .3s ease-in-out;
}

.button--primary {
    color: var(--white-100);
    background: var(--red-300);
}

.button--secondary {
    color: var(--blue-500);
    background: var(--white-300);
}

.button--tertiary {
    background: var(--white-300);
}


.button__icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    gap: .5rem;
}

.button__icon__image {
    width: 1rem;
    height: 1rem;
}

.button:hover {
    cursor: pointer;
}

.button:hover:not(.button__no-animation) {
    transform: scale(1.1);
}

.button:active:not(.button__no-animation) {
    transition: transform 100ms;
    transform: scale(1);
}

.button__no-text {
    font-size: 0
}

.button__icon__image {
    font-size: 1rem;
}
