.search {
    font-size: .8rem;
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    background-color: var(--white-100);
}

.input {
    flex-grow: 1;
    width: 100%;
    padding: .44rem 1rem .22rem;
    color: var(--black-900);
}

.input::placeholder {
    color: var(--black-300);
}

.submit {
    position: absolute;
    right: 0;
    min-width: 10%;
    padding: .44rem 1rem .22rem;
    transition: min-width .5s ease-in-out;
    color: var(--white-100);
    background: var(--blue-500);
}

.search.active .submit {
    min-width: 100%;
}
