.sections {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.fields:not(.active) {
    display: none;
}

.section {
    display: flex;
    flex-direction: column;
    padding: .5rem 1rem;
    background-color: var(--white-200);
}
