.section {
    display: block;
    width: 100%;
    max-width: 15rem;
}

.section__label {
    font-size: 1rem;
    font-weight: 500;
}

.section__link {
    font-size: 1rem;
    font-weight: 300;
    text-shadow: .1rem .1rem var(--white-300);
}

.section__links--icons {
    display: flex;
    flex-wrap: wrap;
    margin-top: .8rem;
    gap: .6rem;
}
