.footer__last-links {
    position: relative;
    top: -1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .8rem;
}

.footer__last-links li.footer__link:not(:nth-last-child(-n+2)):after {
    font-weight: normal;
    margin-left: .8rem;
    content: "|";
}

.disclaimer {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    text-align: center;
}
