ul.navigation {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 1.5rem;
    justify-content: flex-end;
}

ul.navigation * {
    color: var(--black-300);
    display: none;
}

@media (min-width: 60rem) {
    ul.navigation * {
        display: inherit;
    }
}
